.chartList {
  padding: 8px;

  .nav {
    a {
      margin-right: 4px;
    }

    .toTop {
      position: fixed;
      right: 16px;
      bottom: 16px;
      background: #fafafa;
    }
  }

  h1 {
    margin: 8px 0;
    cursor: pointer;
  }

  ul {
    padding: unset;
    list-style: none;

    li {
      padding: 8px;
      border-bottom: 1px solid #0a0a0a;

      img {
        height: 50px;
        width: 100px;
        margin-right: 8px;
        object-fit: contain;
      }
    }
  }
}
