.chartList {
  padding: 8px;

  .nav {
    a {
      margin-right: 4px;
    }

    .toTop {
      position: fixed;
      right: 16px;
      bottom: 16px;
      background: #fafafa;
    }
  }

  h1 {
    margin: 8px 0;
    cursor: pointer;
  }

  ul {
    padding: unset;
    list-style: none;
  }
}
